@media screen and (max-width: 760px) {

body{
    text-align: center;
}


.logo-nav {
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: column;

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.ipt-nav{
    margin-bottom: 30px;
}

main {
    flex-direction: column;

    
    
}

.subtitled {
    font-weight: 700;
    background: linear-gradient(30.00deg, #F94949 5.66%, rgba(243, 79, 79, 0) 98.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
}

.content {
    flex-direction: column;
    align-self: center;
    align-items: center;
}


.paragraph{
    max-width: 60%;
}


.btn-main{
    align-items: center;
    padding: 10px 25px;  
    max-width: 50%;

}

.div-img-nike-mercury {
    margin-top: 100px;
}



}
