* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180.18deg, #101010 0.16%, #F94949 2103.86%);
    color: white;
    height: 100vh;

    
    

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 0.4px solid rgba(255, 255, 255, 0.493);
    padding: 5%;
    margin-bottom: 50px;
}

.logo-nav {
    width: 50px;
}

.logo-nav:hover {
    opacity: 50%;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-direction: row;
}


a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

a:hover {
    color: #F94949;
    transition: 0.5s;
}

.ipt-nav {
    border-radius: 150px;
    padding: 7px 20px;
    background-color: #10101070;
    border: white 1px solid;
    color: white;
}

.ipt-nav:hover {
    border: #F94949 1px solid;
    transition: 0.5s;
}

:placeholder-shown {
    padding-left: 20px;
}


.icon-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.icon-heart:hover {
    opacity: 50%;
}

.icon-bag:hover {
    opacity: 50%;
}


main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5%;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -20px;

}

.subtitled {
    font-weight: 700;
    background: linear-gradient(30.00deg, #F94949 5.66%, rgba(243, 79, 79, 0) 58.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
}



.title {
    font-weight: 800;
    font-size: 40px;
}

.paragraph {
    font-weight: 400;
    max-width: 50%;
    font-size: 17px;

}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.price-old {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.price-new {
    font-weight: 500;
}

.btn-main {
    border: 0;
    border-radius: 200px;
    padding: 10px 15px;
    background-color: #F94949;
    color: white;
    max-width: 30%;
}


.btn-main:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #F94949;
}

.blur {
    width: 200px;
    height: 200px;
    background: #F94848;
    filter: blur(1000px);
    position: relative;
}

.img-nike-mercury {
    animation: flutuacao 4s
    ease-in-out infinite;
}

@keyframes flutuacao {
    0%, 100%  {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
}
